certifi==2019.11.28
chardet==3.0.4
Click==7.0
Django==2.2.5
itsdangerous==1.1.0
Jinja2==2.10.3
jsonfield==3.1.0
MarkupSafe==1.1.1
pytz==2019.3
reportlab==3.5.34
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.0
wincertstore==0.2
gunicorn==19.0.0
whitenoise==5.0.1
